USE [master]
GO
/****** Object:  Database [Job_EN]    Script Date: 8/3/2026 4:28:00 PM ******/
CREATE DATABASE [Job_EN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Job_EN', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Job_EN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Job_EN_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Job_EN_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Job_EN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Job_EN]
GO
/****** Object:  User [jobuser2]    Script Date: 8/3/2026 4:28:00 PM ******/
CREATE USER [jobuser2] FOR LOGIN [jobuser2] WITH DEFAULT_SCHEMA=[jobuser2]
GO
/****** Object:  User [Jobuser]    Script Date: 8/3/2026 4:28:00 PM ******/
CREATE USER [Jobuser] FOR LOGIN [Jobuser] WITH DEFAULT_SCHEMA=[Jobuser]
GO
ALTER ROLE [db_owner] ADD MEMBER [Jobuser]
GO
/****** Object:  Schema [Jobuser]    Script Date: 8/3/2026 4:28:00 PM ******/
CREATE SCHEMA [Jobuser]
GO
/****** Object:  Schema [jobuser2]    Script Date: 8/3/2026 4:28:00 PM ******/
CREATE SCHEMA [jobuser2]
GO
/****** Object:  Table [dbo].[Benefits]    Script Date: 8/3/2026 4:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefits](
	[PostID] [int] NOT NULL,
	[Benefit] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Benefits] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[Benefit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 8/3/2026 4:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Is_Employer_Responsive] [bit] NULL,
	[Famous] [bit] NULL,
	[Is_Governmental_Company] [bit] NULL,
	[Company_Score] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Category]    Script Date: 8/3/2026 4:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Category](
	[PostID] [int] NOT NULL,
	[Category] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_JobCategory] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPost]    Script Date: 8/3/2026 4:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPost](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Score] [decimal](6, 4) NULL,
	[CompanyID] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Neighborhood] [nvarchar](100) NULL,
	[CitySize] [int] NULL,
	[CitySizeGroupID] [int] NULL,
	[Is_Internship] [bit] NULL,
	[Is_Remote] [bit] NULL,
	[Is_Urgent] [bit] NULL,
	[RequiredExperienceYears] [int] NULL,
	[Suitable_For_Disabled] [bit] NULL,
	[Salary_Can_Be_Shown] [bit] NULL,
	[Gender] [nvarchar](200) NULL,
	[Industry] [nvarchar](200) NULL,
	[WorkType] [nvarchar](200) NULL,
	[Seniority_Level] [nvarchar](200) NULL,
	[Salary_Text] [nvarchar](100) NULL,
	[Min_Salary] [int] NULL,
	[Max_Salary] [int] NULL,
	[FirstActivation_Text] [nvarchar](100) NULL,
	[FirstActivation_Date] [datetime] NULL,
	[Activation_Text] [nvarchar](100) NULL,
	[Activation_Date] [datetime] NULL,
	[Expire_Text] [nvarchar](100) NULL,
	[Expire_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Benefits]  WITH CHECK ADD  CONSTRAINT [FK_Benefits_JobPost] FOREIGN KEY([PostID])
REFERENCES [dbo].[JobPost] ([PostID])
GO
ALTER TABLE [dbo].[Benefits] CHECK CONSTRAINT [FK_Benefits_JobPost]
GO
ALTER TABLE [dbo].[Job_Category]  WITH CHECK ADD  CONSTRAINT [FK_JobCategory_JobPost] FOREIGN KEY([PostID])
REFERENCES [dbo].[JobPost] ([PostID])
GO
ALTER TABLE [dbo].[Job_Category] CHECK CONSTRAINT [FK_JobCategory_JobPost]
GO
ALTER TABLE [dbo].[JobPost]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
USE [master]
GO
